<!DOCTYPE html>
<html>
    <body>
        <center>
        <p><h2> Welcome to the home page.</h2></p>
        <br />
        Already have an account? Login.
        <br />
       
       <a href="/login">
           <button>Login</button></a>
           <br />
           New to the site? Sign in.
           <br />

    <a href="/sign-in"><button>Sign in</button></a>
    </center>

        </body>

</html>