
<!DOCTYPE html>
<html>
    <center>
<h2>Hello!</h2>
<br />
    This is my first ever Asp.net project and its just a simple registeration (signin-login) web application.Please dont mind 
    the look and feel of this site as i was primarily focused on the backend of this web app.
    <br />
    Click the button below to continue
    <br />
    <a href="/home/welcome"><button>Continue</button></a>
</center>


</html>
